.main-container-cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .cart-image-container {
    width: 9rem;
    height: 9rem;
    /* margin-right: 0.625rem; */
    overflow: hidden; 
    /* background-color: aqua; */
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }
  
  .card-cart {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    border:1px solid rgb(185, 185, 236);
    border-radius: 0.5rem;
    width: 40rem;
    height: 11rem;
    margin: 0.5rem;
    /* background-color: aliceblue; */
  }
  
  .cart-details-card {
    text-align: left;
    justify-content: left;
    /* background-color: beige; */
    height: 9rem;
    width: 90%;
    padding-top: 0rem;
    
  }

  .cdc-title{
    font-size: large;
    font-weight: bold;
  }
  
  .cdc-quantity{
    display: flex;
  }

  .cdc-desc{
    font-size: 90%;
  }

  .cdc-price{
    font-size: 90%;
    font-weight: bold;
  }

  .cdc-size{
    font-size: small;
    font-weight: 600;

  }
  .cdc-qty-button{
    padding: 7px;
    background: none;
    border: none;
    font-size: medium;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  }

  .quantity {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  }