.main-container-cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .cart-image-container {
    width: 9rem;
    height: 9rem;
    /* margin-right: 0.625rem; */
    overflow: hidden; 
    /* background-color: aqua; */
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }
  
  .card-cart {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    border:1px solid rgb(185, 185, 236);
    border-radius: 0.5rem;
    width: 40rem;
    height: 11rem;
    margin: 0.5rem;
  }
  
  .cart-details-card {
    flex: 0.5;
    text-align: left;
    justify-content: left;
  }
  
  