.wishlist-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wishlist-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wishlist-main-container{
  margin-bottom: 10rem;
}
.wishlist-header{
  display: flex;
  margin: 2rem;
}

.wishlist-text-header{
  font-size: large;
  font-weight: bold;
  margin-right: 0.5rem;
}

.wishlist-empty {
  text-align: center;
}

.footer {
  margin-top: auto;
}
