.checkout-heading {
  margin-top: 1rem;
}

.checkout-content-container {
  display: flex;
  
}

.checkout-address-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 1rem;
  /* background-color: #f9f9f9; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* flex: 1; */
  margin-left: 15rem;
  margin-right: 2rem;
  width: 40rem;
}

.address-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: wheat; */
  font-weight: bold;
}

.address-header div {
  cursor: pointer;
}

.address-header div:hover {
  text-decoration: underline;
}

.no-address {
  text-align: center;
  margin: 0 auto;
}

.address-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.address-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem;
}

.address-checkbox {
  width: max-content;
  text-align: left;
  padding-top: 1rem;

 
}

.address-checkbox input[type="radio"] {
  cursor: pointer;
}


.address-name {
  font-weight: bold;
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}

.address-details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: left;
  /* border-radius: 5px; */
flex: 0.99;
}

.address-details p {
  margin: 0.25rem 0;
}

.address-details-options{
  display: flex;
}

.order-summary-container {
  flex: 1;
  margin-left: 1rem;
}

.address_modal_outer_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000080;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.address_modal_outer_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 12px;
  overflow: auto;
  min-width: 500px;
  /* width: max-content; */
  max-height: 80vh;
  backdrop-filter: blur(3px);
  border: 1.5px solid gainsboro;
  background-color: white;
}

.address_modal_outer_container input{
  min-width: 500px;
  padding: 0.5rem;
  margin: 0.3rem;
  
}