.main-container-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100rem;
    justify-content: space-around;
    color: rgb(21, 21, 22);
    background-color: rgb(246, 244, 244);
  }
  
  .first-container {
    width: max-content;
    display: inline-block;

}
  
  .second-container {
    display: inline-block;

  }
  