.mainPage-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.listingBody{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    height: 100%;
}

.filter-container {
  flex: 0 0 16.5%;
  flex-wrap: wrap;
  border-right: 1px solid wheat;
  border-top: 1px solid wheat;
  align-self: stretch; 
  min-height: 100vh;
}

  
.list-container{
    width: 100%;
    display: flex;
    flex: 3;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  margin-left: 40%;
}