.mainPage-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.listingBody{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    height: 100%;
}

.footer{
    /* margin-top: 4rem; */
}

.filter-container {
  flex: 0 0 16.5%;
  flex-wrap: wrap;
  border-right: 1px solid wheat;
  border-top: 1px solid wheat;
  align-self: stretch; 
}

  
.list-container{
    width: 100%;
    display: flex;
    flex: 3;
}